<code>
@media screen and (max-width: 481px){
  html{
    height: auto;
  }
  body{
    color:red;
    font-family: 'Ubuntu', sans-serif;
    background: #DAD299;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to bottom, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    background-attachment: fixed;
  }
  .container1>h1{
    background-color: rgb(55, 134, 232);
    color: rgb(232, 153, 55);
    padding: 5%;
    text-transform: uppercase;
    font-size: 1em;
    /* font-weight: 600; */
    margin: 0;
    font-size: 1.3em;

  }
  .container1
  {
    /* margin-left:30%; */
    background: rgba(233, 150, 191, .4);
    width: auto;
    max-width: 145px;
    box-shadow:  0 0  3px  teal;
    float:left;
    margin: 40px 0 2% 6%;
    padding: 0px;
  }
  .jumbotron.inst{
    margin:30% 2% 15% 0;
    height: auto;
    width:45%;

    /* height: 200px; */
    /* font-size:1rem; */
    font-weight:800;
    padding: 10px 5px;
    box-shadow: .5px 2px 4px 1px black;
    /* letter-spacing: .4px; */
    max-width: 350px;

    float: right;
  }
  .jumbotron.inst>li{
    line-height: 1em;
    font-size:.8em;
    display: inline;
    vertical-align: middle;
    word-wrap: break-word;
  }
  button{

    /* margin:15% 2% 59% 41%; */
    width: 150px;
    height: 40px;
    box-shadow: 0 0 2px black;
    font-size: 35px;
    /* vertical-align: middle; */
    line-height: 20px;
    /* margin-bottom: 100px; */
    /* display: block; */


    margin: 5% 25% 10% 30%;
  }
  /* #btn{
    display: block;


    margin: 0 auto;
  } */

  .jumbotron.head1{
    background-color:  rgba(255, 223, 80, 1);
    height: auto;
    max-height: 60px;
    margin-top: 4%;
    text-align: center;
    opacity: .5;
    padding-top: 0px;
    box-shadow: 0 0 2px black;
    width: 100%;
  }
  .jumbotron.head1>h3{
    font-size: 1.8em;
    margin:3%;
    color: rgba(0, 65, 255, 1);
    vertical-align: middle;
    line-height: 2em;
  }
  .jumbotron.head1>p{
    margin-top: 5%;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 100%;
    box-shadow: 5px 5px 3px black;
    font-size: 1.1em;
    font-weight: 100;
  }

  input{
    width: 100%;  font-size: 1em;
    background-color: rgb(242, 242, 242);
    padding: 13px 13px 13px 5px;
    box-sizing: border-box;
    color: rgb(55, 134, 232);
    font-weight: bold;
    border: 3px solid rgba(0, 0, 0, 0);
  }

  .completed
  {
    color:gray;
    text-decoration: line-through;

  }
  .delete
  {
  background-color: rgb(255, 102, 102);
  }
  .fa-plus{
    float: right;


    }
  /* #del{
  display: block;
  } */

  span.delete{
    color: white;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: .3s linear;
    opacity: 0;
  }
  li:hover span{
    width: 40px;
    opacity: 1;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
  }
  li.int{
    list-style: none;
  }
  li{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    color:#2f2a8a;
    /* font-weight: 600; */
  }
  li:nth-child(2n){
    background-color: rgb(242, 242, 242);
  }
  input:focus{
    background-color: #fff;
    border:3px solid rgb(232, 153, 55);
    outline: none;
  }
  ::placeholder{
    font-size: 15px;
  }

}
</code>

html{
  height: auto;
}
body{
  color:red;
  font-family: 'Ubuntu', sans-serif;
  background: #DAD299;  /* fallback for old browsers */
  background: linear-gradient(to bottom, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to bottom, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: right;
  background-attachment: fixed;
}
.container1>h1{
  background-color: rgb(55, 134, 232);
  color: rgb(232, 153, 55);
  padding: 5%;
  text-transform: uppercase;
  font-size: 1em;
  /* font-weight: 600; */
  margin: 0;
  font-size: 1.3em;

}
.container1
{
  /* margin-left:30%; */
  background: rgba(233, 150, 191, .4);
  width: auto;
  max-width: 145px;
  box-shadow:  0 0  3px  teal;
  float:left;
  margin: 40px 0 2% 6%;
  padding: 0px;
}
.jumbotron.inst{
  margin:30% 2% 15% 0;
  height: auto;
  width:45%;

  /* height: 200px; */
  /* font-size:1rem; */
  font-weight:800;
  padding: 10px 5px;
  box-shadow: .5px 2px 4px 1px black;
  /* letter-spacing: .4px; */
  max-width: 350px;

  float: right;
}
.jumbotron.inst>li{
  line-height: 1em;
  font-size:.8em;
  display: inline;
  vertical-align: middle;
  word-wrap: break-word;
}
button{

  /* margin:15% 2% 59% 41%; */
  width: 150px;
  height: 40px;
  box-shadow: 0 0 2px black;
  font-size: 35px;
  /* vertical-align: middle; */
  line-height: 20px;
  /* margin-bottom: 100px; */
  /* display: block; */


  margin: 5% 25% 10% 30%;
}
/* #btn{
  display: block;


  margin: 0 auto;
} */

.jumbotron.head1{
  background-color:  rgba(255, 223, 80, 1);
  height: auto;
  max-height: 60px;
  margin-top: 4%;
  text-align: center;
  opacity: .5;
  padding-top: 0px;
  box-shadow: 0 0 2px black;
  width: 100%;
}
.jumbotron.head1>h3{
  font-size: 1.8em;
  margin:3%;
  color: rgba(0, 65, 255, 1);
  vertical-align: middle;
  line-height: 2em;
}
.jumbotron.head1>p{
  margin-top: 5%;
  color: rgb(255, 255, 255);
  background-color: black;
  width: 100%;
  box-shadow: 5px 5px 3px black;
  font-size: 1.1em;
  font-weight: 100;
}

input{
  width: 100%;  font-size: 1em;
  background-color: rgb(242, 242, 242);
  padding: 13px 13px 13px 5px;
  box-sizing: border-box;
  color: rgb(55, 134, 232);
  font-weight: bold;
  border: 3px solid rgba(0, 0, 0, 0);
}

.completed
{
  color:gray;
  text-decoration: line-through;

}
.delete
{
background-color: rgb(255, 102, 102);
}
.fa-plus{
  float: right;


  }
/* #del{
display: block;
} */

span.delete{
  color: white;
  line-height: 40px;
  margin-right: 20px;
  text-align: center;
  width: 0;
  display: inline-block;
  transition: .3s linear;
  opacity: 0;
}
li:hover span{
  width: 40px;
  opacity: 1;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
}
li.int{
  list-style: none;
}
li{
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color:#2f2a8a;
  /* font-weight: 600; */
}
li:nth-child(2n){
  background-color: rgb(242, 242, 242);
}
input:focus{
  background-color: #fff;
  border:3px solid rgb(232, 153, 55);
  outline: none;
}
::placeholder{
  font-size: 15px;
}
